<%- include('partials/header') %>


<div class="plain text" style="margin-top:15%;">
  <h1 style="text-align:center;">DUH!!</h1>
  <p style="text-align:center;"><%=content%></p>
  <p style="text-align:center;"><a href="/register">Try again</a></p>

</div>


<%- include('partials/footer') %>
